#### Imports

In [1]:
import pandas as pd

#### Read asset price data

In [5]:
data = pd.read_csv('/Users/dylanhayashi/Desktop/Northwestern/590 - Thesis Research/assets_m6.csv')

timeseries = data.pivot_table(index='date',columns='symbol',values='price')

display(timeseries)

symbol,ABBV,ACN,AEP,AIZ,ALLE,AMAT,AMP,AMZN,AVB,AVY,...,XLC,XLE,XLF,XLI,XLK,XLP,XLU,XLV,XLY,XOM
date,,,,,,,,,,,,,,,,,,,,,
2022/01/31,131.870,348.301,86.601,149.851,120.808,136.910,298.157,149.574,236.358,202.110,...,73.251,63.251,38.263,99.025,160.404,74.058,67.240,129.234,183.364,72.486
2022/02/01,131.976,348.143,84.637,148.613,118.120,137.337,301.871,151.194,236.600,203.064,...,73.885,65.506,38.792,100.391,160.820,73.990,66.347,129.579,184.474,77.133
2022/02/02,133.537,354.103,86.102,150.323,118.298,139.467,306.877,150.612,243.519,197.466,...,75.361,65.717,39.057,101.089,162.127,74.877,67.328,131.322,183.374,76.932
2022/02/03,135.570,340.391,86.400,149.154,114.292,135.256,298.099,138.846,242.145,190.018,...,70.319,65.093,38.626,99.477,157.423,74.897,67.027,130.760,177.762,76.035
2022/02/04,135.492,342.312,85.422,150.401,117.382,134.324,301.871,157.640,239.329,186.260,...,70.498,66.110,39.282,98.406,158.057,73.980,66.493,130.288,182.818,77.686
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023/02/13,153.730,288.350,91.090,133.570,119.920,116.530,355.330,99.540,181.190,185.290,...,55.740,89.980,36.910,103.070,142.810,73.800,68.120,133.590,150.320,117.800
2023/02/14,152.590,284.770,90.480,130.250,119.860,118.440,352.740,99.700,180.080,184.240,...,55.760,90.010,36.710,102.790,143.420,73.130,67.830,132.800,152.120,116.420
2023/02/15,151.060,287.650,90.920,131.950,121.580,119.460,350.300,101.160,181.140,185.630,...,56.270,88.480,36.750,103.430,144.090,73.270,68.270,132.140,153.900,116.070
2023/02/16,149.530,281.220,90.700,132.940,118.750,115.390,349.470,98.150,180.120,182.050,...,55.410,87.610,36.380,102.360,141.590,72.740,67.750,130.820,150.540,115.730
2023/02/17,151.310,277.050,92.410,132.410,118.600,115.440,351.480,97.200,179.270,182.500,...,55.350,84.490,36.390,103.030,139.820,73.680,68.480,131.990,150.570,111.280