In [111]:
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [112]:
matrix = pd.DataFrame({0:[0.9,0.1],1:[0.9,0.2]})
matrix

     0    1
0 0.90 0.90
1 0.10 0.20

In [124]:
def simulate_markov(dataframe):
                                                                                                                                                        
    i = 0
    while i < 1:
        dataframe = dataframe.dot(dataframe)
        i += 1
        
    display(dataframe)

In [125]:
simulate_markov(matrix)

     0    1
0 0.90 0.99
1 0.11 0.13

In [109]:
def simulate_markov(dataframe):
                                                                                                                                                           
    print('Initial Matrix:')
    display(dataframe)
          
    i = 0
    while i < 5:
        dataframe = dataframe.dot(dataframe)
        i += 1
    
    dataframe['sum'] = dataframe.loc[:,['Argentina', 
                                        'Bolivia', 
                                        'Brazil', 
                                        'Chile', 
                                        'Colombia', 
                                        'Ecuador',
                                        'French Guiana', 
                                        'Guyana', 
                                        'Paraguay', 
                                        'Peru', 
                                        'Suriname', 
                                        'Uruguay',
                                        'Venezuela']].sum()
                                                                                                                                                            
    print('Final Matrix:')
    display(dataframe)
                                                                                                                                                                    
    results = pd.DataFrame({'probability' : dataframe.loc[:,'Argentina']}).set_index(dataframe.index).sort_values('probability', ascending = False)
    display(round(results,2))

In [110]:
simulate_markov(south_america)

NameError: name 'south_america' is not defined

In [100]:
results = pd.DataFrame(columns = [simulation.columns])

In [107]:
for column in simulation.columns:
    display(simulation[column].sum())

1.2999634409351914

1.299964527454283

2.600020972788375

0.7799731219578777

1.0400109054097315

0.519993873023712

0.520026716542762

0.7800410459882567

0.7799838042934671

1.2999777702985362

0.7800312852761734

0.5199946557133245

0.7800178803183122

In [110]:
results

Empty DataFrame
Columns: [(Argentina,), (Bolivia,), (Brazil,), (Chile,), (Colombia,), (Ecuador,), (French Guiana,), (Guyana,), (Paraguay,), (Peru,), (Suriname,), (Uruguay,), (Venezuela,)]
Index: []