### NU Industries

In [93]:
import pandas as pd
import pandas as pd
import numpy as np
from numpy import sqrt
from scipy.optimize import minimize
from pulp import LpVariable, LpProblem, LpStatus, value, LpMinimize, LpMaximize, LpSolverDefault

pd.set_option('display.float_format', lambda x: '%.f' % x)

In [94]:
# Production Variables
# One variable for each product / plant / time period combination
prod_wa1 = LpVariable('prod_wa1',0,None)
prod_ga1 = LpVariable('prod_ga1',0,None)
prod_fa1 = LpVariable('prod_fa1',0,None)
prod_wb1 = LpVariable('prod_wb1',0,None)
prod_gb1 = LpVariable('prod_gb1',0,None)
prod_fb1 = LpVariable('prod_fb1',0,None)
prod_wa2 = LpVariable('prod_wa2',0,None)
prod_ga2 = LpVariable('prod_ga2',0,None)
prod_fa2 = LpVariable('prod_fa2',0,None)
prod_wb2 = LpVariable('prod_wb2',0,None)
prod_gb2 = LpVariable('prod_gb2',0,None)
prod_fb2 = LpVariable('prod_fb2',0,None)
prod_wa3 = LpVariable('prod_wa3',0,None)
prod_ga3 = LpVariable('prod_ga3',0,None)
prod_fa3 = LpVariable('prod_fa3',0,None)
prod_wb3 = LpVariable('prod_wb3',0,None)
prod_gb3 = LpVariable('prod_gb3',0,None)
prod_fb3 = LpVariable('prod_fb3',0,None)
prod_wa4 = LpVariable('prod_wa4',0,None)
prod_ga4 = LpVariable('prod_ga4',0,None)
prod_fa4 = LpVariable('prod_fa4',0,None)
prod_wb4 = LpVariable('prod_wb4',0,None)
prod_gb4 = LpVariable('prod_gb4',0,None)
prod_fb4 = LpVariable('prod_fb4',0,None)
prod_wa5 = LpVariable('prod_wa5',0,None)
prod_ga5 = LpVariable('prod_ga5',0,None)
prod_fa5 = LpVariable('prod_fa5',0,None)
prod_wb5 = LpVariable('prod_wb5',0,None)
prod_gb5 = LpVariable('prod_gb5',0,None)
prod_fb5 = LpVariable('prod_fb5',0,None)

# Supply Variables
# Variables that represent the supply of a product from a plant in a time period. One for each product / plant / time period combination.
sup_wa1 = LpVariable('sup_wa1',0,None)
sup_ga1 = LpVariable('sup_ga1',0,None)
sup_fa1 = LpVariable('sup_fa1',0,None)
sup_wb1 = LpVariable('sup_wb1',0,None)
sup_gb1 = LpVariable('sup_gb1',0,None)
sup_fb1 = LpVariable('sup_fb1',0,None)
sup_wa2 = LpVariable('sup_wa2',0,None)
sup_ga2 = LpVariable('sup_ga2',0,None)
sup_fa2 = LpVariable('sup_fa2',0,None)
sup_wb2 = LpVariable('sup_wb2',0,None)
sup_gb2 = LpVariable('sup_gb2',0,None)
sup_fb2 = LpVariable('sup_fb2',0,None)
sup_wa3 = LpVariable('sup_wa3',0,None)
sup_ga3 = LpVariable('sup_ga3',0,None)
sup_fa3 = LpVariable('sup_fa3',0,None)
sup_wb3 = LpVariable('sup_wb3',0,None)
sup_gb3 = LpVariable('sup_gb3',0,None)
sup_fb3 = LpVariable('sup_fb3',0,None)
sup_wa4 = LpVariable('sup_wa4',0,None)
sup_ga4 = LpVariable('sup_ga4',0,None)
sup_fa4 = LpVariable('sup_fa4',0,None)
sup_wb4 = LpVariable('sup_wb4',0,None)
sup_gb4 = LpVariable('sup_gb4',0,None)
sup_fb4 = LpVariable('sup_fb4',0,None)
sup_wa5 = LpVariable('sup_wa5',0,None)
sup_ga5 = LpVariable('sup_ga5',0,None)
sup_fa5 = LpVariable('sup_fa5',0,None)
sup_wb5 = LpVariable('sup_wb5',0,None)
sup_gb5 = LpVariable('sup_gb5',0,None)
sup_fb5 = LpVariable('sup_fb5',0,None)

# Storage Variables
# Variables that represent the storage of a product in a plant in a time period. One for each product / plant / time period combination.
sto_wa1 = LpVariable('sto_wa1',0,None)
sto_ga1 = LpVariable('sto_ga1',0,None)
sto_fa1 = LpVariable('sto_fa1',0,None)
sto_wb1 = LpVariable('sto_wb1',0,None)
sto_gb1 = LpVariable('sto_gb1',0,None)
sto_fb1 = LpVariable('sto_fb1',0,None)
sto_wa2 = LpVariable('sto_wa2',0,None)
sto_ga2 = LpVariable('sto_ga2',0,None)
sto_fa2 = LpVariable('sto_fa2',0,None)
sto_wb2 = LpVariable('sto_wb2',0,None)
sto_gb2 = LpVariable('sto_gb2',0,None)
sto_fb2 = LpVariable('sto_fb2',0,None)
sto_wa3 = LpVariable('sto_wa3',0,None)
sto_ga3 = LpVariable('sto_ga3',0,None)
sto_fa3 = LpVariable('sto_fa3',0,None)
sto_wb3 = LpVariable('sto_wb3',0,None)
sto_gb3 = LpVariable('sto_gb3',0,None)
sto_fb3 = LpVariable('sto_fb3',0,None)
sto_wa4 = LpVariable('sto_wa4',0,None)
sto_ga4 = LpVariable('sto_ga4',0,None)
sto_fa4 = LpVariable('sto_fa4',0,None)
sto_wb4 = LpVariable('sto_wb4',0,None)
sto_gb4 = LpVariable('sto_gb4',0,None)
sto_fb4 = LpVariable('sto_fb4',0,None)

# Advertising Variables
# Variables that represent the number of advertising units bought for a product in a time period.
aw1 = LpVariable("aw1", 0, None)
ag1 = LpVariable("ag1", 0, None)
af1 = LpVariable("af1", 0, None)
aw2 = LpVariable("aw2", 0, None)
ag2 = LpVariable("ag2", 0, None)
af2 = LpVariable("af2", 0, None)
aw3 = LpVariable("aw3", 0, None)
ag3 = LpVariable("ag3", 0, None)
af3 = LpVariable("af3", 0, None)
aw4 = LpVariable("aw4", 0, None)
ag4 = LpVariable("ag4", 0, None)
af4 = LpVariable("af4", 0, None)

# Problem Definition
prob = LpProblem("problem", LpMaximize)

In [95]:
# CONSTRAINTS

# Production = Supply + Storage
# Widgets
prob += prod_wa1 == sto_wa1 + sup_wa1
prob += prod_wa2 == sto_wa2 + sup_wa2
prob += prod_wa3 == sto_wa3 + sup_wa3
prob += prod_wa4 == sto_wa4 + sup_wa4
prob += prod_wa5 == sup_wa5
prob += prod_wb1 == sto_wb1 + sup_wb1
prob += prod_wb2 == sto_wb2 + sup_wb2
prob += prod_wb3 == sto_wb3 + sup_wb3
prob += prod_wb4 == sto_wb4 + sup_wb4
prob += prod_wb5 == sup_wb5
# Gadgets
prob += prod_ga1 == sto_ga1 + sup_ga1
prob += prod_ga2 == sto_ga2 + sup_ga2
prob += prod_ga3 == sto_ga3 + sup_ga3
prob += prod_ga4 == sto_ga4 + sup_ga4
prob += prod_ga5 == sup_ga5
prob += prod_gb1 == sto_gb1 + sup_gb1
prob += prod_gb2 == sto_gb2 + sup_gb2
prob += prod_gb3 == sto_gb3 + sup_gb3
prob += prod_gb4 == sto_gb4 + sup_gb4
prob += prod_gb5 == sup_gb5
# Flugels
prob += prod_fa1 == sto_fa1 + sup_fa1
prob += prod_fa2 == sto_fa2 + sup_fa2
prob += prod_fa3 == sto_fa3 + sup_fa3
prob += prod_fa4 == sto_fa4 + sup_fa4
prob += prod_fa5 == sup_fa5
prob += prod_fb1 == sto_fb1 + sup_fb1
prob += prod_fb2 == sto_fb2 + sup_fb2
prob += prod_fb3 == sto_fb3 + sup_fb3
prob += prod_fb4 == sto_fb4 + sup_fb4
prob += prod_fb5 == sup_fb5


# Demand must be met at each time period by the combined supply of plants in that time period and units put in storage during t-1 
# Widgets
prob += sup_wa1 + sup_wb1 == 70
prob += sup_wa2 + sup_wb2 + sto_wa1 + sto_wb1 == aw1 + 125
prob += sup_wa3 + sup_wb3 + sto_wa2 + sto_wb2 == aw2 + 185
prob += sup_wa4 + sup_wb4 + sto_wa3 + sto_wb3 == aw3 + 190
prob += sup_wa5 + sup_wb5 + sto_wa4 + sto_wb4 == aw4 + 200
# Gadgets
prob += sup_ga1 + sup_gb1 == 200
prob += sup_ga2 + sup_gb2 + sto_ga1 + sto_gb1 == ag1 + 300
prob += sup_ga3 + sup_gb3 + sto_ga2 + sto_gb2 == ag2 + 295
prob += sup_ga4 + sup_gb4 + sto_ga3 + sto_gb3 == ag3 + 245
prob += sup_ga5 + sup_gb5 + sto_ga4 + sto_gb4 == ag4 + 240
# Flugels
prob += sup_fa1 + sup_fb1 == 140
prob += sup_fa2 + sup_fb2 + sto_fa1 + sto_fb1 == af1 + 175
prob += sup_fa3 + sup_fb3 + sto_fa2 + sto_fb2 == af2 + 205
prob += sup_fa4 + sup_fb4 + sto_fa3 + sto_fb3 == af3 + 235
prob += sup_fa5 + sup_fb5 + sto_fa4 + sto_fb4 == af4 + 230


# Storage Constraints
# Plant A (total number of units stored)
prob += sto_wa1 + sto_ga1 + sto_fa1 <= 70 # t1
prob += sto_wa2 + sto_ga2 + sto_fa2 <= 70 # t2
prob += sto_wa3 + sto_ga3 + sto_fa3 <= 70 # t3
prob += sto_wa4 + sto_ga4 + sto_fa4 <= 70 # t4
# Plant B (total number of units stored)
prob += sto_wb1 + sto_gb1 + sto_fb1 <= 50 # t1
prob += sto_wb2 + sto_gb2 + sto_fb2 <= 50 # t2
prob += sto_wb3 + sto_gb3 + sto_fb3 <= 50 # t3
prob += sto_wb4 + sto_gb4 + sto_fb4 <= 50 # t4


# Resorce Constraits 
# Material 1 (from all products both plants a and b)
prob += 194*prod_wa1 + 188*prod_wb1 + 230*prod_ga1 + 225*prod_gb1 + 178*prod_fa1 + 170*prod_fb1 <= 140000 # t1
prob += 194*prod_wa2 + 188*prod_wb2 + 230*prod_ga2 + 225*prod_gb2 + 178*prod_fa2 + 170*prod_fb2 <= 140000 # t2
prob += 194*prod_wa3 + 188*prod_wb3 + 230*prod_ga3 + 225*prod_gb3 + 178*prod_fa3 + 170*prod_fb3 <= 140000 # t3
prob += 194*prod_wa4 + 188*prod_wb4 + 230*prod_ga4 + 225*prod_gb4 + 178*prod_fa4 + 170*prod_fb4 <= 140000 # t4
prob += 194*prod_wa5 + 188*prod_wb5 + 230*prod_ga5 + 225*prod_gb5 + 178*prod_fa5 + 170*prod_fb5 <= 140000 # t5
# Material 2 (from all products both plants a and b)
prob += 8.6*prod_wa1 + 9.2*prod_wb1 + 11.6*prod_fa1 + 10.8*prod_fb1 <= 5000 # t1
prob += 8.6*prod_wa2 + 9.2*prod_wb2 + 11.6*prod_fa2 + 10.8*prod_fb2 <= 5000 # t2
prob += 8.6*prod_wa3 + 9.2*prod_wb3 + 11.6*prod_fa3 + 10.8*prod_fb3 <= 5000 # t3
prob += 8.6*prod_wa4 + 9.2*prod_wb4 + 11.6*prod_fa4 + 10.8*prod_fb4 <= 5000 # t4
prob += 8.6*prod_wa5 + 9.2*prod_wb5 + 11.6*prod_fa5 + 10.8*prod_fb5 <= 5000 # t5

# Total Advertising Spending Cannot Exceed Budget 
prob += 160 * (aw1 + aw2 + aw3 + aw4) + 120 * (ag1 + ag2 + ag3 + ag4) + 180 * (af1 + af2 + af3 + af4) <= 70000

In [96]:
# OBJECTIVE FUNCTION
# Revenue
prob += (((2490 * (prod_wa1 + prod_wb1 + prod_wa2 + prod_wb2 + prod_wa3 + prod_wb3 + prod_wa4 + prod_wb4 + prod_wa5 + prod_wb5))  # revenue from widgets
      + (1990 * (prod_ga1 + prod_gb1 + prod_ga2 + prod_gb2 + prod_ga3 + prod_gb3 + prod_ga4 + prod_gb4 + prod_ga5 + prod_gb5)) # revenue from gadgets
      + (2970 * (prod_fa1 + prod_fb1 + prod_fa2 + prod_fb2 + prod_fa3 + prod_fb3 + prod_fa4 + prod_fb4 + prod_fa5 + prod_fb5))) # revenue from flugels
         
# Costs  
# Widgets Plant A
- ((1.25 * 194 * (prod_wa1 + prod_wa2 + prod_wa3 + prod_wa4 + prod_wa5)) # Material 1
+ (2.65 * 8.6 * (prod_wa1 + prod_wa2 + prod_wa3 + prod_wa4 + prod_wa5)) # Material 2
+ (6.3 * (prod_wa1 + prod_wa2 + prod_wa3 + prod_wa4 + prod_wa5)) # Distribution   
# Widgets Plant B
+ (1.45 * 188 * (prod_wb1 + prod_wb2 + prod_wb3 + prod_wb4 + prod_wb5)) # Material 1
+ (2.9 * 9.2 * (prod_wb1 + prod_wb2 + prod_wb3 + prod_wb4 + prod_wb5)) # Material 2
+ (6.5 * (prod_wb1 + prod_wb2 + prod_wb3 + prod_wb4 + prod_wb5)) # Distribution
# Gadgets Plant A
+ (1.25 * 230 * (prod_ga1 + prod_ga2 + prod_ga3 + prod_ga4 + prod_ga5)) # Material 1
+ (4.6 * (prod_ga1 + prod_ga2 + prod_ga3 + prod_ga4 + prod_ga5)) # Distribution
# Gadgets Plant B
+ (1.45 * 225 * (prod_gb1 + prod_gb2 + prod_gb3 + prod_gb4 + prod_gb5)) # Material 1
+ (5 * (prod_gb1 + prod_gb2 + prod_gb3 + prod_gb4 + prod_gb5)) # Distribution
# Flugels Plant A
+ (1.25 * 178 * (prod_wa1 + prod_wa2 + prod_wa3 + prod_wa4 + prod_wa5)) # Material 1
+ (2.65 * 11.6 * (prod_wa1 + prod_wa2 + prod_wa3 + prod_wa4 + prod_wa5))# Material 2
+ (5.5 * (prod_wa1 + prod_wa2 + prod_wa3 + prod_wa4 + prod_wa5))# Distribution
# Flugels Plant B
+ (1.45 * 170 * (prod_wb1 + prod_wb2 + prod_wb3 + prod_wb4 + prod_wb5)) # Material 1
+ (2.9 * 10.8 * (prod_wb1 + prod_wb2 + prod_wb3 + prod_wb4 + prod_wb5)) # Material 2
+ (5 * (prod_wb1 + prod_wb2 + prod_wb3 + prod_wb4 + prod_wb5)) # Distribution
# Advertising
+ (160 * (aw1 + aw2 + aw3 + aw4))  # widget 
+ (120 * (ag1 + ag2 + ag3 + ag4))  # gadget 
+ (180 * (af1 + af2 + af3 + af4))  # flugel
# Labor
+ (11 * ((9.5*prod_wa1 + 7.1*prod_ga1 + 11.1*prod_fa1) + (9.1*prod_wb1 + 7.8*prod_gb1 + 10.6*prod_fb1))) # t1
+ (11 * ((9.5*prod_wa2 + 7.1*prod_ga2 + 11.1*prod_fa2) + (9.1*prod_wb2 + 7.8*prod_gb2 + 10.6*prod_fb2))) # t2   
+ (12.1 * ((9.5*prod_wa3 + 7.1*prod_ga3 + 11.1*prod_fa3) + (9.1*prod_wb3 + 7.8*prod_gb3 + 10.6*prod_fb3))) # t3
+ (12.1 * ((9.5*prod_wa4 + 7.1*prod_ga4 + 11.1*prod_fa4) + (9.1*prod_wb4 + 7.8*prod_gb4 + 10.6*prod_fb4))) # t4
+ (12.1 * ((9.5*prod_wa5 + 7.1*prod_ga5 + 11.1*prod_fa5) + (9.1*prod_wb5 + 7.8*prod_gb5 + 10.6*prod_fb5))) # t5
+ (16.5 * ((2500 - (9.5*prod_wa1 + 7.1*prod_ga1 + 11.1*prod_fa1)) + (3800 - (9.1*prod_wb1 + 7.8*prod_gb1 + 10.6*prod_fb1)))) # t1 OT
+ (16.5 * ((2500 - (9.5*prod_wa2 + 7.1*prod_ga2 + 11.1*prod_fa2)) + (3800 - (9.1*prod_wb2 + 7.8*prod_gb2 + 10.6*prod_fb2)))) # t2 OT
+ (18.15 * ((2500 - (9.5*prod_wa3 + 7.1*prod_ga3 + 11.1*prod_fa3)) + (3800 - (9.1*prod_wb3 + 7.8*prod_gb3 + 10.6*prod_fb3)))) # t3 OT
+ (18.15 * ((2500 - (9.5*prod_wa4 + 7.1*prod_ga4 + 11.1*prod_fa4)) + (3800 - (9.1*prod_wb4 + 7.8*prod_gb4 + 10.6*prod_fb4)))) # t4 OT
+ (18.15 * ((2500 - (9.5*prod_wa5 + 7.1*prod_ga5 + 11.1*prod_fa5)) + (3800 - (9.1*prod_wb5 + 7.8*prod_gb5 + 10.6*prod_fb5)))) # t5 OT
# Storage
+ (7.5 * (sto_wa1 + sto_wa2 + sto_wa3 + sto_wa4)) # widget storage - plant a
+ (7.8 * (sto_wb1 + sto_wb2 + sto_wb3 + sto_wb4)) # widget storage - plant b          
+ (5.5 * (sto_ga1 + sto_ga2 + sto_ga3 + sto_ga4)) # gadget storage - plant a
+ (5.7 * (sto_gb1 + sto_gb2 + sto_gb3 + sto_wb4)) # gadget storage - plant b          
+ (6.5 * (sto_fa1 + sto_fa2 + sto_fa3 + sto_fa4)) # flugel storage - plant a
+ (7 * (sto_fb1 + sto_fb2 + sto_fb3 + sto_fb4))))# flugel storage - plant b


status = prob.solve()

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /opt/anaconda3/lib/python3.9/site-packages/pulp/apis/../solverdir/cbc/osx/64/cbc /var/folders/hb/_tr1b6d918vdtcwmymd4p0v80000gn/T/8a8a5525dc24480eb9084a98b23a82bd-pulp.mps max timeMode elapsed branch printingOptions all solution /var/folders/hb/_tr1b6d918vdtcwmymd4p0v80000gn/T/8a8a5525dc24480eb9084a98b23a82bd-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 69 COLUMNS
At line 371 RHS
At line 436 BOUNDS
At line 437 ENDATA
Problem MODEL has 64 rows, 96 columns and 236 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Presolve 34 (-30) rows, 66 (-30) columns and 190 (-46) elements
0  Obj -0 Primal inf 3035 (15) Dual inf 114482.78 (51)
31  Obj 7822872.9 Primal inf 63.57073 (4)
38  Obj 7821977.7
Optimal - objective value 7821977.7
After Postsolve, objective 7821977.7, infeasibilities - dual 0 (0), primal 0 (0)
Optimal objective 7821977.688 - 38 iterations time 0.002, Presolve 0.00
Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.01

In [97]:
# Results DataFrame

# Widget Production
prod_wa = [prod_wa1.value(), prod_wa2.value(), prod_wa3.value(), prod_wa4.value(), prod_wa5.value()]
prod_wb = [prod_wb1.value(), prod_wb2.value(), prod_wb3.value(), prod_wb4.value(), prod_wa5.value()]
dem_w = [70,125,185,190,200]
dem_adv_w = [70, 125 + aw1.value(), 185 + aw2.value(), 190 + aw3.value(), 200 + aw4.value()]

# Gadget Production
prod_ga = [prod_ga1.value(), prod_ga2.value(), prod_ga3.value(), prod_ga4.value(), prod_ga5.value()]
prod_gb = [prod_gb1.value(), prod_gb2.value(), prod_gb3.value(), prod_gb4.value(), prod_gb5.value()]
dem_g = [200,300,295,245,240]
dem_adv_g = [200, 300 + ag1.value(), 295 + ag2.value(), 245 + ag3.value(), 240 + ag4.value()]

# Flugel Production
prod_fa = [prod_fa1.value(), prod_fa2.value(), prod_fa3.value(), prod_fa4.value(), prod_fa5.value()]
prod_fb = [prod_fb1.value(), prod_fb2.value(), prod_fb3.value(), prod_fb4.value(), prod_fb5.value()]
dem_f = [140, 175, 205, 235, 230]
dem_adv_f = [140, 175 + af1.value(), 205 + af2.value(), 235 + af3.value(), 230 + af4.value()]

# Supply - Plant A
sup_wa = [sup_wa1.value(), sup_wa2.value(), sup_wa3.value(), sup_wa4.value(), sup_wa5.value()]
sup_ga = [sup_ga1.value(), sup_ga2.value(), sup_ga3.value(), sup_ga4.value(), sup_ga5.value()]
sup_fa = [sup_fa1.value(), sup_fa2.value(), sup_fa3.value(), sup_fa4.value(), sup_fa5.value()]

# Supply - Plant B
sup_wb = [sup_wb1.value(), sup_wb2.value(), sup_wb3.value(), sup_wb4.value(), sup_wb5.value()]
sup_gb = [sup_gb1.value(), sup_gb2.value(), sup_gb3.value(), sup_gb4.value(), sup_gb5.value()]
sup_fb = [sup_fb1.value(), sup_fb2.value(), sup_fb3.value(), sup_fb4.value(), sup_fb5.value()]

# Storage - Plant A
sto_wa = pd.Series([sto_wa1.value(), sto_wa2.value(), sto_wa3.value(), sto_wa4.value(),0])
sto_ga = pd.Series([sto_ga1.value(), sto_ga2.value(), sto_ga3.value(), sto_ga4.value(),0])
sto_fa = pd.Series([sto_fa1.value(), sto_fa2.value(), sto_fa3.value(), sto_fa4.value(),0])

# Storage - Plant B
sto_wb = pd.Series([sto_wb1.value(), sto_wb2.value(), sto_wb3.value(), sto_wb4.value(),0])
sto_gb = pd.Series([sto_gb1.value(), sto_gb2.value(), sto_gb3.value(), sto_gb4.value(),0])
sto_fb = pd.Series([sto_fb1.value(), sto_fb2.value(), sto_fb3.value(), sto_fb4.value(),0])

# Advertising
aw = [aw1.value(), aw2.value(), aw3.value(), aw4.value(), 0]
ag = [ag1.value(), ag2.value(), ag3.value(), ag4.value(), 0]
af = [af1.value(), af2.value(), af3.value(), af4.value(), 0]

# Material 1 Totals
m11 = pd.Series((194 * prod_wa1.value()) + (188 * prod_wb1.value())  + (230 * prod_ga1.value()) + (225 * prod_gb1.value())  + (178 * prod_wa1.value()) + (170 * prod_wb1.value())).sum()
m12 = pd.Series((194 * prod_wa2.value()) + (188 * prod_wb2.value())  + (230 * prod_ga2.value()) + (225 * prod_gb2.value())  + (178 * prod_wa2.value()) + (170 * prod_wb2.value())).sum()                                                                                                                   
m13 = pd.Series((194 * prod_wa3.value()) + (188 * prod_wb3.value())  + (230 * prod_ga3.value()) + (225 * prod_gb3.value())  + (178 * prod_wa3.value()) + (170 * prod_wb3.value())).sum()
m14 = pd.Series((194 * prod_wa4.value()) + (188 * prod_wb4.value())  + (230 * prod_ga4.value()) + (225 * prod_gb4.value())  + (178 * prod_wa4.value()) + (170 * prod_wb4.value())).sum()  
m15 = pd.Series((194 * prod_wa5.value()) + (188 * prod_wb5.value())  + (230 * prod_ga5.value()) + (225 * prod_gb5.value())  + (178 * prod_wa5.value()) + (170 * prod_wb5.value())).sum() 

# Material 2 Totals
m21 = pd.Series((8.6 * prod_wa1.value()) + (11.6 * prod_fa1.value()) + (9.2 * prod_wb1.value()) + (10.8 * prod_fb1.value())).sum()
m22 = pd.Series((8.6 * prod_wa2.value()) + (11.6 * prod_fa2.value()) + (9.2 * prod_wb2.value()) + (10.8 * prod_fb2.value())).sum()
m23 = pd.Series((8.6 * prod_wa3.value()) + (11.6 * prod_fa3.value()) + (9.2 * prod_wb3.value()) + (10.8 * prod_fb3.value())).sum()
m24 = pd.Series((8.6 * prod_wa4.value()) + (11.6 * prod_fa4.value()) + (9.2 * prod_wb4.value()) + (10.8 * prod_fb4.value())).sum()
m25 = pd.Series((8.6 * prod_wa5.value()) + (11.6 * prod_fa5.value()) + (9.2 * prod_wb5.value()) + (10.8 * prod_fb5.value())).sum()

# Advertising
adv_total = (160 * (aw1.value() + aw2.value() + aw3.value() + aw4.value())) + (120 * (ag1.value() + ag2.value() + ag3.value() + ag4.value())) + (180 * (af1.value() + af2.value() + af3.value() + af4.value())) 

# Labor
lab_a1 = (9.5*prod_wa1.value() + 7.1*prod_ga1.value() + 11.1*prod_fa1.value())
lab_b1 = (9.1*prod_wb1.value() + 7.8*prod_gb1.value() + 10.6*prod_fb1.value())
lab_a2 = (9.5*prod_wa2.value() + 7.1*prod_ga2.value() + 11.1*prod_fa2.value())
lab_b2 = (9.1*prod_wb2.value() + 7.8*prod_gb2.value() + 10.6*prod_fb2.value())
lab_a3 = (9.5*prod_wa3.value() + 7.1*prod_ga3.value() + 11.1*prod_fa3.value())
lab_b3 = (9.1*prod_wb3.value() + 7.8*prod_gb3.value() + 10.6*prod_fb3.value())
lab_a4 = (9.5*prod_wa4.value() + 7.1*prod_ga4.value() + 11.1*prod_fa4.value()) 
lab_b4 = (9.1*prod_wb4.value() + 7.8*prod_gb4.value() + 10.6*prod_fb4.value())
lab_a5 = (9.5*prod_wa5.value() + 7.1*prod_ga5.value() + 11.1*prod_fa5.value())
lab_b5 = (9.1*prod_wb5.value() + 7.8*prod_gb5.value() + 10.6*prod_fb5.value())

In [98]:
# Widgets DataFrame
widgets_a = pd.DataFrame({'prod_a' : prod_wa, 'sto_a' : sto_wa, 'sup_a' : sup_wa})
widgets_b = pd.DataFrame({'prod_b' : prod_wb, 'sto_b' : sto_wb, 'sup_b' : sup_wb})
widgets_adv = pd.DataFrame({'adv' : aw})
widgets_market = pd.DataFrame({'supply' : (widgets_a['sup_a'] + widgets_b['sup_b'] + widgets_a['sto_a'].shift(1) + widgets_b['sto_b'].shift(1)), 'dem + adv' : dem_adv_w,'dem' : dem_w})
widgets_market['supply'][0] = widgets_a['sup_a'][0] + widgets_b['sup_b'][0]
widgets_results = pd.concat([widgets_a, widgets_b, widgets_market, widgets_adv], axis = 1)

# Gadgets DataFrame
gadgets_a = pd.DataFrame({'prod_a' : prod_ga, 'sto_a' : sto_ga, 'sup_a' : sup_ga})
gadgets_b = pd.DataFrame({'prod_b' : prod_gb, 'sto_b' : sto_gb, 'sup_b' : sup_gb})
gadgets_adv = pd.DataFrame({'adv' : ag})
gadgets_market = pd.DataFrame({'supply' : (gadgets_a['sup_a'] + gadgets_b['sup_b'] + gadgets_a['sto_a'].shift(1) + gadgets_b['sto_b'].shift(1)), 'dem + adv' : dem_adv_g,'dem' : dem_g})
gadgets_market.loc[:,'supply'][0] = gadgets_a['sup_a'][0] + gadgets_b['sup_b'][0]
gadgets_results = pd.concat([gadgets_a, gadgets_b, gadgets_market, gadgets_adv], axis = 1)
                            
# Flugels DataFrame
flugels_a = pd.DataFrame({'prod_a' : prod_fa, 'sto_a' : sto_fa, 'sup_a' : sup_fa})
flugels_b = pd.DataFrame({'prod_b' : prod_fb, 'sto_b' : sto_fb, 'sup_b' : sup_fb})
flugels_adv = pd.DataFrame({'adv' : af})
flugels_market = pd.DataFrame({'supply' : (flugels_a.loc[:,'sup_a'] + flugels_b.loc[:,'sup_b'] + flugels_a.loc[:,'sto_a'].shift(1) + flugels_b.loc[:,'sto_b'].shift(1)), 'dem + adv' : dem_adv_f,'dem' : dem_f})
flugels_market['supply'][0] = flugels_a.loc[:,'sup_a'][0] + flugels_b.loc[:,'sup_b'][0]
flugels_results = pd.concat([flugels_a, flugels_b, flugels_market, flugels_adv], axis = 1)

# Constraints
stor_plant_a = sto_wa.add(sto_ga.add(sto_fa))
stor_plant_b = sto_wb.add(sto_gb.add(sto_fb))
constraints = pd.DataFrame({'Storage A' : stor_plant_a, 
                            'var_max_1' : 70,
                            'Storage B' : stor_plant_b, 
                            'var_max_2' : 50,
                            'Material 1' : [m11, m12, m13, m14, m15],
                            'var_max_3' : 140000,
                            'Material 2' : [m21, m22, m23, m24, m25], 
                            'var_max_4' : 5000,
                            'labor_a' : [lab_a1, lab_a2, lab_a3, lab_a4, lab_a5],
                            'labor_b' : [lab_b1, lab_b2, lab_b3, lab_b4, lab_b5]})

# Advertising
adv = pd.DataFrame({'tot_adv' : [adv_total],'max' : 70000})

# Reset index to show time periods
for df in [widgets_results, gadgets_results, flugels_results]:
    df.index += 1

/var/folders/hb/_tr1b6d918vdtcwmymd4p0v80000gn/T/ipykernel_7710/3738883863.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  widgets_market['supply'][0] = widgets_a['sup_a'][0] + widgets_b['sup_b'][0]
/var/folders/hb/_tr1b6d918vdtcwmymd4p0v80000gn/T/ipykernel_7710/3738883863.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gadgets_market.loc[:,'supply'][0] = gadgets_a['sup_a'][0] + gadgets_b['sup_b'][0]
/var/folders/hb/_tr1b6d918vdtcwmymd4p0v80000gn/T/ipykernel_7710/3738883863.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flugels_market['supply'][0] = flugels_a.loc[:,'sup_a'][0] + flugels_b.loc[:,'sup_b'][0]

In [99]:
print(f'Profit: ${round(prob.objective.value(),2)}')

print('\nWidgets')
display(widgets_results)

print('\nGadgets')
display(gadgets_results)

print('\nFlugels')
display(flugels_results)

print('\nConstraints')
display(constraints)

print('Advertising')
display(adv)

Profit: $7271042.72

Widgets

   prod_a  sto_a  sup_a  prod_b  sto_b  sup_b  supply  dem + adv  dem  adv
1      70      0     70       0      0      0      70         70   70    0
2     125      0    125       0      0      0     125        125  125    0
3     107      0    107      78      0     78     185        185  185    0
4       0      0      0     190      0    190     190        190  190    0
5     200      0    200     200      0      0     200        200  200    0

Gadgets

   prod_a  sto_a  sup_a  prod_b  sto_b  sup_b  supply  dem + adv  dem  adv
1     270     70    200      50     50      0     200        200  200    0
2      10     10      0     230     50    180     300        300  300    0
3       0      0      0     235      0    235     295        295  295    0
4       0      0      0     245      0    245     245        245  245    0
5       0      0      0     240      0    240     240        240  240    0

Flugels

   prod_a  sto_a  sup_a  prod_b  sto_b  sup_b  supply  dem + adv  dem  adv
1     140      0    140       0      0      0     140        140  140  188
2       0      0      0     363      0    363     363        363  175   99
3       0      0      0     304      0    304     304        304  205   54
4       0      0      0     289      0    289     289        289  235   48
5       0      0      0     278      0    278     278        278  230    0

Constraints

,Storage A,var_max_1,Storage B,var_max_2,Material 1,var_max_3,Material 2,var_max_4,labor_a,labor_b
0,70,70,50,50,99390,140000,2226,5000,4136,390
1,10,70,50,50,100468,140000,5000,5000,1256,5646
2,0,70,0,50,120681,140000,4918,5000,1014,5766
3,0,70,0,50,123145,140000,4871,5000,0,6705
4,0,70,0,50,128400,140000,4719,5000,1900,4815

Advertising

   tot_adv    max
0    70000  70000